/**
 * Admin settings page CSS
 */
#cpms-settings .cpms-field
{
	clear: both;
	margin-bottom: 2em;
} 
#cpms-settings label
{
	display: inline-block;
	width: 150px;
	float: left;	
}
#cpms-settings .cpms-input
{
	margin-left: 160px;
}
#cpms-settings .cpms-input input[type=text],
#cpms-settings .cpms-input textarea
{
	width: 80%;
}

#cpms-settings .cpms-input textarea
{
	height: 6em;
}

#cpms-settings .cpms-input p
{
	margin: 2px;
}